.progress-card {
  padding: 0;
  min-height: fit-content;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.progress-title {
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.progress-text {
  color: #221e1ee7;
  letter-spacing: 0.3px;
}

.custom-text-large {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.custom-text-small {
  font-weight: normal;
  color: #666;
}

ion-progress-bar {
  height: 0.5rem;
  border-radius: 10px;
  margin: 0.5rem 0;
}
